<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=list.title%></title>
</head>
<body>
    <div>
        <div>
            <h2>Title : <%=list.title%></h2>
            <img style=" height : 200px; width : 200px;" src="<%=list.image.url%>" alt="<%=list.image.filename%>">
            <h3>Description : <%=list.description%></h3>
            <h3>Price : &#8377; <%=list.price.toLocaleString("en-in")%></h3>
            <h3>Location : <%=list.location%></h3>
            <h3>Country : <%=list.country%></h3>
        </div>
    </div>
</body>
</html>